huni
explicit
tester
literature/
bin/
doc/
bak/
*.swp
*~
*.prof
.dropbox.attr

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

# latex stuff
paper/*.aux
paper/*.bak
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.div
paper/*.idx
paper/*.ilg
paper/*.ind
paper/*.log
paper/*.pdf
paper/*.ps
paper/*.sty
paper/*.swp
paper/*.toc
paper/*~
paper/*-blx.bib
paper/*.out
paper/*.xml
